* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    width: 180px;
    min-height: 100%;
    background-color: #111111;
    color: #f4d4fa;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-top,
.sidebar-center,
.sidebar-bottom {
    width: 80%;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #919191;
}

.sidebar-bottom {
    border: none;
    justify-content: center;
}

.logo {
    font-size: 32px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 10px;
}

.brand {
    font-weight: bold;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.list-item {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.list-item-icon {
    width: 30px;
    font-size: 20px;
}

.list-item:hover,
.list-item.active {
    background-color: blueviolet;
    color: white;
}

.color-box {
    width: 20px;
    height: 20px;
    border: 1px solid #998877;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.dark {
    background-color: #111111;
}

.night {
    background-color: #4338ca;
}

.light {
    background-color: #f1f2f3;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 50px;
    }
    .brand,
    .list-item-text {
        display: none;
    }
    .sidebar-bottom {
        flex-direction: column;
    }
    .color-box {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .logo {
        padding-left: 4;
    }
}

.sidebar.night {
    background-color: #310a71;
}

.list-item.active.night {
    background-color: #4338ca;
}

.sidebar.light {
    background-color: #f1f2f3;
    color: #111213;
}

.list-item.active.light {
    background-color: #c5c6c7;
    color: black;
}